* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sarabun', sans-serif;
}

nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    & .logo {
        & a {
            color: white;
            text-decoration: none;
        }
    }
    & .menu {
        display: flex;

        & li {
            margin: 0 1rem;
            list-style: none;

            & a {
                color: white;
                text-decoration: none;
                
            }

        }
    }
}